@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Monoton&family=Pacifico&family=Rancho&display=swap');


body {
    background-color: #610300;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

.spiritsNav {
    margin: 1%;
}
#lvl2Dropdown {
    text-align: center;
    margin: 2%;
    opacity: .7;
}
#lvl3Dropdown {
    margin: 2%;
    opacity: .7;
}

.name {
    background-image: url("old.jpg");
    width: 300px;
    height: 100px;
    margin: auto;
    padding: 25px;
    text-align: center;
    border: 100px;
    background-color: #FAD961;
    text-shadow:0px 0px 10px #ffffff;
    font-family:Impact;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 1000;
    -webkit-box-shadow: -1px -10px 34px 20px rgba(0,0,0,0.79);
    -moz-box-shadow: -1px -10px 34px 20px rgba(0,0,0,0.79);
    box-shadow: -1px -10px 34px 20px rgba(0,0,0,0.79);
}
.name:hover {

    text-shadow:0px 0px 50px #ffffff;
}

#tile1 {

    margin-bottom: 0;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
}

.card {
    width: 100%;
}

.movie-placeholder, .drink-placeholder {
    text-align: center;
    font-family: 'Pacifico', cursive;
}

#moviePoster {

    text-align: center;
}

.drinkTitle, .movieTitle {

    text-align: center;
}

p {

font-family: 'Chicle', cursive;
font-size: 30px;
color: white;
}

#backcolor {

    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.9150035014005602) 44%, rgba(116,105,21,1) 91%, rgba(167,130,21,0.9290091036414566) 99%);
    
}


button {
        box-shadow:inset 0px -6px 18px 3px #000000;
        background-image: url("old.jpg");
        border-radius:8px;
        border:5px solid #030303;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Impact;
        font-size:22px;
        font-weight:bold;
        padding:17px 50px;
        
    }
button:hover {
        text-shadow:0px 0px 30px #ffffff;
    }
button:active {
        position:relative;
        top:1px;
    }
.main-buttons {

    text-shadow:0px 0px 30px #ffffff;
}
.main-buttons:hover {

    text-shadow:0px 0px 15px #ffffff;
}
    
 /* mobile friendly */
  @media only screen and (max-width: 768px) {
    .spiritsNav button {
      margin-left: auto;
      margin-right: auto;
  }};